@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}

button:hover {
	border-color: #646cff;
}
/* button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */
